<br>
<div class="containerItem">
  <nav class="navbar navbar-dark bg-primary" style="background-color: #0063ae !important;">

    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 fw-bold">SISTEMA DE SALDOS ACUMULADOS</span>
    </div>
  </nav>
  <fieldset class="linea-caja col-sm-12 mb-5 pb-5" style="border-top: 0;">
    <div class="container-fluid px-4">
      <div class="col-12 pt-4">
        <fieldset class="linea-caja col-sm-12 pb-2">
          <legend>
            <button style="background-color: #ffffff !important; border: #e9ecef;">
              DATOS DEL SALDO ACUMULADO
            </button>
          </legend>
          <form [formGroup]="getForm">
            <div class="row" style="font-size: 14px;">
              <div class="col-12 form-group row">
                <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Número de RUC</label>
                <div class="col-sm-3">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
                <label for="ruc" class="control-label col-xl-2 col-lg-2 col-md-2 col-sm-3">nombre o razón social</label>
                <div class="col-sm-3">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
                <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Dependencia</label>
                <div class="col-sm-2">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
              </div>
              <div class="col-12 form-group row">
                <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Saldo acumulado</label>
                <div class="col-sm-3">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
              </div>
              <div class="col-12 form-group row">
                <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Monto a la fecha del último movimiento</label>
                <div class="col-sm-3">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
              </div>
              <div class="col-12 form-group row">
                <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Fecha del último movimiento</label>
                <div class="col-sm-3">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
                
              </div>
              <div class="col-12 form-group row">
                <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Monto a la fecha del cálculo</label>
                <div class="col-sm-3">
                  <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

                </div>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
    <br>
    <div class="container-fluid px-4">
      <div class="col-12 pt-4">
    <fieldset class="linea-caja col-sm-12 pb-2">
      <legend>
        <button style="background-color: #ffffff !important; border: #e9ecef;">
          DATOS PARA LA ACTUALIZACION DEL SALDO ACUMULADO
        </button>
      </legend>
      <form [formGroup]="getForm">
        <div class="row" style="font-size: 14px;">
          <div class="col-12 form-group row">
            <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Número de RUC</label>
            <div class="col-sm-3">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
            <label for="ruc" class="control-label col-xl-2 col-lg-2 col-md-2 col-sm-3">nombre o razón social</label>
            <div class="col-sm-3">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
            <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Dependencia</label>
            <div class="col-sm-2">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
          </div>
          <div class="col-12 form-group row">
            <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Saldo acumulado</label>
            <div class="col-sm-3">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
          </div>
          <div class="col-12 form-group row">
            <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Monto a la fecha del último movimiento</label>
            <div class="col-sm-3">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
          </div>
          <div class="col-12 form-group row">
            <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Fecha del último movimiento</label>
            <div class="col-sm-3">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
            
          </div>
          <div class="col-12 form-group row">
            <label for="ruc" class="control-label col-xl-1 col-lg-1 col-md-1 col-sm-2">Monto a la fecha del cálculo</label>
            <div class="col-sm-3">
              <input formControlName="ruc" id="ruc" type="text" maxlength="11" class="form-control" />

            </div>
          </div>
        </div>
      </form>
      </fieldset>
    </div>
  </div>
    <br>
    <div class="col-sm-12 col-lg-12 row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9" style="text-align: end;">
        <button type="button" class="btn-sunat shadow-none px-4 pb-2" data-bs-placement="bottom"><i
            class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;
          Aceptar</button>

      </div>
    </div>
  </fieldset>

</div>
<ngx-spinner bdColor="rgba(255,255,255,0.45)" color="rgba(28,27,27,0.64)" size="medium" type="ball-scale"
  [fullScreen]="true"></ngx-spinner>