<br />
<div class="containerItem">
  <nav
    class="navbar navbar-dark bg-primary"
    style="background-color: #0063ae !important"
  >
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 fw-bold">
        SISTEMA DE SALDOS ACUMULADOS
      </span>
    </div>
  </nav>
  <fieldset class="linea-caja col-sm-12 mb-5 pb-5" style="border-top: 0">
    <div class="container-fluid px-4">
      <div class="col-12 pt-4">
        <form [formGroup]="manualEventoForm.getForm">
          <fieldset class="linea-caja col-sm-12 pb-2">
            <legend>
              <button
                style="background-color: #ffffff !important; border: #e9ecef"
              >
                Registro de eventos
              </button>
            </legend>
            <div class="row mt-4 align-items-center">
              <label
                for="tipoevento"
                class="control-label col-xl-3 col-lg-3 col-md-4 col-sm-5 text-end"
              >
                Tipo de evento <span style="color: red">(*)</span>:
              </label>
              <div class="col-xl-6 col-lg-7 col-md-8 col-sm-7">
                <ng-select
                  formControlName="tipoevento"
                  [multiple]="true"
                  appearance="outline"
                  bindLabel="value"
                  [notFoundText]="'Sin resultados'"
                  bindValue="codigo"
                  [closeOnSelect]="false"
                  [items]="listaTipoEvento"
                  [clearable]="true"
                  placeholder="Seleccione una opción"
                  [searchable]="true"
                >
                  <ng-template ng-header-tmp let-items="items">
                    <input
                      id="todos"
                      type="checkbox"
                      [checked]="selectChekedCombosTipoEvento()"
                      (change)="toggleCheckAllCombosTipoEvento($event)"
                    />
                    <label for="todos">Seleccionar todos</label>
                  </ng-template>
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <input
                      id="item-{{ index }}"
                      type="checkbox"
                      [checked]="item$.selected"
                    />
                    <label for="item-{{ index }}">{{ item.value }}</label>
                  </ng-template>
                </ng-select>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="row mt-3">
              <label
                class="control-label col-xl-3 col-lg-3 col-md-4 col-sm-5 text-end"
              ></label>
              <div class="col-xl-6 col-lg-7 col-md-8 col-sm-7">
                <span style="color: red"> (*) Campos obligatorios: </span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <br />
  </fieldset>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0.45)"
  color="rgba(28,27,27,0.64)"
  size="medium"
  type="ball-scale"
  [fullScreen]="true"
></ngx-spinner>
