<div class="modal-header bg-primary text-white" style="background-color: #0063ae !important;">
  <p class="modal-title" id="modal-basic-title">Mostrar / Ocultar columnas</p>
  <button type="button" class="btn-close btn-close-white shadow-none" aria-label="Close" (click)="activeModal.close('Close')" ></button>
</div>
<div class="modal-body">
  <div *ngFor="let columna of columnas; let i=index" class="col-md-10">
    <label>
      <input type="checkbox" [value]="columna.value" [checked]="columna.state" (change)="columnasSelect($event)">
      {{columna.value}}
    </label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary col-sm-4" (click)="aceptar()">{{labelbtnRight}}</button>
</div>
