<br>
<div class="containerItem">
  <nav class="navbar navbar-dark bg-primary" style="background-color: #0063ae !important;">

    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 fw-bold">SISTEMA DE SALDOS ACUMULADOS</span>
    </div>
  </nav>
  <fieldset class="linea-caja col-sm-12 mb-5 pb-5" style="border-top: 0;">
    <div class="container-fluid px-4">
      <div class="col-12 pt-4">
        <fieldset class="linea-caja col-sm-12 pb-2">
          <legend>
            <button style="background-color: #ffffff !important; border: #e9ecef;">
              Filtros de búsqueda
            </button>
          </legend>
          <form [formGroup]="getFormFiltro">
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-3 row">
                  <label class="col-sm-2 col-lg-4 col-form-label">Motivo de Actualización</label>
                  <div class="col-sm-6 col-lg-5">
                    <ng-select appearance="outline" bindLabel="valor" bindValue="codigo" [closeOnSelect]="false"
                    [items]="motivoActualizacion" [clearable]="true" [searchable]="false"></ng-select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-3 col-lg-4 col-form-label">Número de RUC: <span style="color: red">(*)</span></label>
                  <div class="col-sm-9 col-lg-3">
                    <input>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-lg-4 col-form-label">Saldo Acumulado: <span style="color: red">(*)</span></label>
                  <div class="col-sm-6 col-lg-5">
                    <ng-select appearance="outline" bindValue="codCuenta" bindLabel= "codCuenta"  [closeOnSelect]="false"
                               placeholder="Seleccione una opción" [items]="listSaldoAcumulado" [clearable]="true" [searchable]="false"></ng-select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-lg-4 col-form-label">Ejercicio: <span style="color: red">(*)</span></label>
                  <div class="col-sm-6 col-lg-3">
                    <ng-select appearance="outline" bindValue="codCuenta" bindLabel= "codCuenta"  [closeOnSelect]="false"
                               placeholder="Seleccione una opción" [items]="listSaldoAcumulado" [clearable]="true" [searchable]="false"></ng-select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-lg-4 col-form-label">Tributo: <span style="color: red">(*)</span></label>
                  <div class="col-sm-6 col-lg-3">
                    <ng-select appearance="outline" bindValue="codCuenta" bindLabel= "codCuenta"  [closeOnSelect]="false"
                               placeholder="Seleccione una opción" [items]="listSaldoAcumulado" [clearable]="true" [searchable]="false"></ng-select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-lg-4 col-form-label">Periodo Tributario <span style="color: red">(*)</span></label>
                  <div class="col-sm-6 col-lg-4">
                    <div class="mb-3 row">
                      <div class="col-sm-6 col-lg-2"><label>Año</label></div>
                      <div class="col-sm-6 col-lg-4">
                        <ng-select appearance="outline" bindValue="codCuenta" bindLabel= "codCuenta"  [closeOnSelect]="false"
                                   placeholder="Seleccione una opción" [items]="listSaldoAcumulado" [clearable]="true" [searchable]="false"></ng-select>
                      </div>
                      <div class="col-sm-6 col-lg-2"><label>Mes</label></div>
                      <div class="col-sm-6 col-lg-4">
                        <ng-select appearance="outline" bindValue="codCuenta" bindLabel= "codCuenta"  [closeOnSelect]="false"
                                   placeholder="Seleccione una opción" [items]="listSaldoAcumulado" [clearable]="true" [searchable]="false"></ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="col-sm-12 col-lg-12 row" >
            <div class="col-sm-8"><span style="color: red"> (*) Campos Obligatorios </span> </div>
            <div class="col-sm-2" style="text-align: end;">
              <button type="button" class="btn-sunat shadow-none px-4 pb-2" data-bs-placement="bottom"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;
                Buscar</button>
            </div>
            <div class="col-sm-2" style="text-align: end;">
              <button type="button" class="btn-sunat shadow-none px-4 pb-2" data-bs-placement="bottom"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                Regresar</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>

</div>
<ngx-spinner bdColor="rgba(255,255,255,0.45)" color="rgba(28,27,27,0.64)" size="medium" type="ball-scale"
  [fullScreen]="true"></ngx-spinner>
